{% extends 'base.html.twig' %}
{% block body %}

    <article>
            <h2>{{ user.username }}</h2>
            <div class="content">
                {{user.lesCommandes}}
            </div>
        </article>

{% endblock %}