{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}

{% for produit in produits %}
<section class="article">    
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 08/05/02023 à 13h34</div>
            <div class="content">
                <img src="http://placehold.it/100x150" alt="">
                <p>Quo sunt repudiandae pariatur commodi! Incidunt impedit sit quibusdam ipsam! Illum obcaecati modi ipsum pariatur!</p>
                <a href="{{ path('produit_show', {'id': produit.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
{% endfor %}    
{% endblock %}
